@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


body,html{
    overflow: hidden;
}

.container{
    width:100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.836);
    padding: 10rem;
}

.heading {
    font-weight: 600;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.login-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    background-color: white;
    padding: 2.3rem 1.8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.login-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.email-container , .password-container , .login-btn{
    width:300px;
}

.password-container{
    position: relative;
    display: flex;
    align-items: center;
}

#togglePassword{
    position: absolute;
    right:1rem;
    color: grey;
}

.email-container > input  , .password-container > input{
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border:1px solid grey ;
    outline: none;
}


.forgot-password-link , .sign-up-link{
    color: rgb(87, 149, 219);
    text-decoration: none;
}

.login-btn{
    padding: 0.8rem;
    background-color: rgb(1, 113, 211);
    border-radius: 0.5rem;
    color: white;
    text-align: center;
}


@media  (max-width:767px) {
    .email-container,
    .password-container,
    .login-btn 
    {
       width: 250px;
    }

    .login-container{
        padding: 1.5rem 1rem;
    }

    .container{
        padding: 2rem;
    }
}